$color-white: #FFFFFF;
$color-black: #000000;

$color-primary: #1890FF;
$color-danger: #FF4949;

$color-background-primary: #0F1014;
$color-background-secondary: #22262E;

$color-split-line: #383F4D;

$color-font-default: white;
$color-font-primary: $color-primary;

// --------------------------------- 已下样式从老项目复制，可能用不到，要删除
$color-gray-1: #FFFFFF;
$color-gray-2: #FAFAFA;
$color-gray-3: #F5F5F5;
$color-gray-4: #F0F0F0;
$color-gray-5: #D9D9D9;
$color-gray-6: #BFBFBF;
$color-gray-7: #8C8C8C;
$color-gray-8: #595959;
$color-gray-9: #434343;
$color-gray-10: #262626;
$color-gray-11: #1F1F1F;
$color-gray-12: #191919;
$color-gray-13: #141414;
$color-gray-14: #000000;

$color-anchor-hover: #096DD9;
$color-anchor-active: #0050B3;
$color-background: #17181A;
$color-background-1: rgba(250, 249, 241, 0.05);
$color-background-hover: rgba(250, 249, 241, 0.1);
