<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trtc.uikit.livekit">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".common.uicomponent.roomlist.view.ListAudienceActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".view.liveroom.VideoLiveAnchorActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".view.liveroom.VideoLiveAudienceActivity"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".view.voiceroom.VoiceRoomActivity"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="com.trtc.uikit.livekit.manager.ServiceInitializer"
            android:authorities="${applicationId}.ServiceInitializer"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>