<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trtc.uikit.livekit">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".liveroom.view.audience.AudienceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />

        <provider
            android:name="com.trtc.uikit.livekit.liveroom.core.ServiceInitializer"
            android:authorities="${applicationId}.ServiceInitializer"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>