$highLightColor = #006EFF


// $backgroundColor = #EEEEEE
// $themeColor = #FFFFFF
// $fontColor = #47494D

// $fontColor = #ffffff
// $backgroundColor = #2D2E36

// 背景色
$backgroundColor = #1C2131
// 文字颜色
$fontColor = #FFFFFF
// 主题色
$themeColor = #383F54
// 分割线的颜色
$lineColor = rgba(184,184,184,0.1)

$inputColor = #272E45

$dialogColor = #373F56
$dialogTitleColor = #242C40

// IM区域的主题颜色
$IMThemeColor = #383F54
$grayFontColor = #8A9099