<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <provider
            android:name="com.trtc.uikit.livekit.livestreamcore.manager.LiveStreamInitializer"
            android:authorities="${applicationId}.LiveStreamInitializer"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>