$highLightColor = #006EFF
// $themeColor = #006EFF
// $backgroundColor = #EEEEEE
// $themeColor = #FFFFFF

// 背景色
$backgroundColor = #030910

// 文字颜色
$fontColor = #FFFFFF

// 主题色
$themeColor = #1C2131

// IM区域的主题颜色
$IMThemeColor = #383F54
$lineColor = rgba(184,184,184,0.1)
$grayFontColor = #8A9099

$dialogColor = #373F56
$dialogTitleColor = #242C40

// $fontColor = #ffffff
// $backgroundColor = #2D2E36