<?xml version="1.0" encoding="utf-8"?>
<manifest  xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.tencent.tcmediax.tceffectplayerkit.core.TUIEffectPlayerProvider"
            android:authorities="${applicationId}.TUIEffectPlayerProvider"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>