<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.tencent.cloud.uikit.livekit.KTVAnchorActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.LiveKit" />
        <activity
            android:name="com.tencent.cloud.uikit.livekit.KTVAudienceActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.LiveKit" />
    </application>

</manifest>