<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trtc.tuikit.common">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <service
            android:name="com.trtc.tuikit.common.ForegroundService"
            android:exported="false" />

        <activity android:name=".qrcode.QRCodeScannerActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>