<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trtc.uikit.livekit.voiceroomcore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <provider
            android:name="com.trtc.uikit.livekit.voiceroomcore.manager.VoiceRoomInitializer"
            android:authorities="${applicationId}.LiveKitInitializer"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>