<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qcloud.tuikit.tuigift">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <provider
            android:name="com.tencent.qcloud.tuikit.tuigift.core.TUIGiftProvider"
            android:authorities="${applicationId}.TUIGiftProvider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>